doctype html
html(lang="en")
	head
		title= title
		link(rel="stylesheet" href="light.min.css")
		link(rel="stylesheet" href="index.css")
	body
		main.app
			div.wrapper
				img.logo(src="logo.svg" alt="YYZ Logo")
				form(action=href method="get")
					button.login__button(type="submit")= button
