:root {
  --main-color: rgb(50, 115, 220);
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
}

.wrapper,
form {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
}

input[type="text"] {
  margin-bottom: 0.5em;
  background: white;
}

.configure__button {
  margin-bottom: 0.5em;
}

button {
  width: 100%;
  background: white;
  border-radius: 4px;
  transition: transform 0.2s;
}

button:hover {
  transform: scale(1.1);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--main-color);
  background: linear-gradient(
    90deg,
    var(--main-color) 9%,
    rgba(255, 255, 255, 1) 100%
  );
}

.logo {
  margin-bottom: 1.5em;
}
